<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stego_app</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  <body>
    <div class="continer-fluid">
      <div class="row" style="--bs-gutter-x:0">
        <div class="pop-up"><div id="example_images"></div></div>
        <div class="col-3 p-0 d-lg-block">
          <div class="position-fixed vh-100 p-3"> 
            <img src="static/img/logo.jpg" alt="BioIATeam">
          </div>
          <div class="sidebar">
            <label for="uploadBoton" class="button"><i class="fa-solid fa-arrow-up-from-bracket"></i></label>
            <input type="file" id="uploadBoton" accept=".jpg, .png, .pgm" class="d-none">
            <div class="tooltip">Upload Image</div>
          <div>
            <button id="exampleImageBoton"><i class="fa-regular fa-images"></i></button>
            <div class="tooltip">Example Images</div>
          </div>
          <div class="horizontal-separator"></div>
          <div>
            <button id="downloadBoton"><i class="fa-solid fa-download"></i></button>
            <div class="tooltip">Download Current Image</div>
          </div>
        </div>
        </div>
        <div class="col-9">
          <div class="title">Steganalysis</div>
          <div class="row">
            <div class="topbar">
              <select id="modelSelect" onchange="updateConsole()">
                  <option value="Modelo A">Modelo A</option>
                  <option value="Modelo B">Modelo B</option>
                  <option value="Modelo C">Modelo C</option>
              </select>
              <div class="console" id="console">
                <div class="column">
                  <label>Accuracy:</label>
                  <div id="precsion">-%</div>
                </div>          
              </div>
              <div class="topbar-button">
                <button id="playBoton"><i class="fas fa-play"></i></button>
                <div class="tooltip">Run</div>
              </div>
              <div class="vertical-separator"></div>
              <div class="console" id="console">
                <div class="column">
                  <label>Predicción:</label>
                  <div id="prediction">-%</div>
                </div>
                <div class="column">
                  <label>Clase:</label>
                  <div id="class">-</div>
                </div>            
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col w-50 p-0 scble-column">
              <p class="p-3 m-3 title">Your Image</p>
              <div id="your_image" class="graph-continer">
                
              </div>
            </div>
            <div class="col w-50 p-0">
                <p class="p-3 m-3 title">Results</p>
                <div id="results" class="graph-continer">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{% static 'js/clicsManager.js' %}"></script>
  </body>
</html>